body{
    background: #f3f6f4;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
}

footer {
    bottom: 0;
    width: 100%;
    background: #dadada;
    padding: 8px 0px 8px 0px;
    text-align: center;
    font-weight: 500;
}

img {
    padding: 8px;
    margin: 8px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    display: block;
    padding: 8px 0px 8px 0px;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 25px;
    background: #f3f6f4;
}

.nav-link { 
    color: #4e1c7e;
}

.nav-link:hover { 
    color: #876dca;
    transition: transform .5s;
    transform: scale(1.15);
}

.introduction {
    height:100%;
    padding-top: 130px;
    padding-bottom: 250px;
}

.introduction p {
    font-weight: 500;
    font-size: 18px;
}

.page-section {
    padding-top: 70px;
    margin-bottom: 20px;
}

.emphasize {
    color: #4e1c7e;
    font-weight: bold;
}

.skills {
    padding-bottom: 40px;
}

.skills-section {
    margin: 10px;
    justify-content: center;
}

.skills-section img:hover {
    transform: scale(1.25);
    transition: 0.3s;
}

.skills h4 {
    text-align:right;
}

.projects {
    margin-bottom: 30px;
}

.btn-default {
    font-weight: bold;
    background-color: #4e1c7e;
    color:#f3f6f4;
    padding: 8px 15px 8px 15px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.btn-default:hover { 
    color:#4e1c7e; 
    background-color: #f3f6f4;
    border: 1px solid;
    border-color: #4e1c7e;
}

.contact-links {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.profile-pic {
    border-radius: 15%;
    height: 300px;
    border:none;
}

.intro-landing {
    justify-content:space-between;
}

.gradient {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(196,134,255,0.4682247899159664) 74%, rgba(78,28,126,0.6671043417366946) 100%);
}

.accent-bg {
    background:#4e1c7e;
    color:#f3f6f4;
    width: 100%;
    padding-bottom: 40px;
}

.accent-bg h2, .accent-bg h3, .accent p {
    color:#f3f6f4;
}

.btn-light {
    width: 100%;
    font-weight: 600;
    padding: 10px;
}

.btn-light:hover{
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
    transform: scale(1.02);
}

.article-project {
    padding-top: 15px;
    padding-bottom: 15px;
}

